header {
    background-color: #FFFF4B;
    border-bottom: 1px solid #7fb2f1;
    position: fixed;
    width: 50%;
    z-index: 10;
    text-align: center
    
  }

  div.main {
    max-width:500px;
    margin: auto;
    border: 3px solid rgb(123, 145, 245);
  }